<form action="" method="post">
  <input type="text" name="" id="" placeholder="Prénom">
  <input type="text" name="" id="" placeholder="Nom">
  <input type="tel" name="" id="" placeholder="Téléphone">
  <input type="email" name="" id="" placeholder="mail">
  <input type="number" name="" id="" placeholder="Numéro">
  <input type="text" name="" id="" placeholder="rue">
  <input type="text" name="" id="" placeholder="Ville">
  <input type="checkbox" name="" id="" placeholder = "Je prends un hotel">
  <select name="" id="">
    <% hotels.forEach(hotel => {%>
      <option value=""><%- hotel %></option>
      <% }); %> 
  </select>
</form>