<form action="/register" method="post">
  <input type="text" name="firstName" id="" required placeholder="Prénom" autocomplete="off">
  <input type="text" name="lastName" id="" required placeholder="Nom">
  <input type="number" name="phone" id="" required placeholder="Téléphone">
  <input type="email" name="email" id="" required placeholder="mail">
  <p>En couple? <input type="checkbox" name="is_accompanied" id="" placeholder="En couple"></p>
  <input type="number" name="childrenNumber" id="" required placeholder="Nombre d'enfant(s)" value="0">
  <button type="submit">Je serai de la partie</button>
  <% if (typeof error !=="undefined" ){ %>
    <%- error %>
      <% } %>
</form>