<!DOCTYPE html>
<html lang="fr">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>On se marie!!!</title>
</head>
<body>
  <header>
    <div>icon</div>
    <div>navigation</div>
  </header>
  <main>
    <h1>On se marie!!!</h1>
    <p>Nous allons concrétiser notre amour le 22 juin 2023.</p>
    <p>Vous avez été comvié a vous joindre à la fête.</p>
    <p>Vous trouvrez toutes les informations relatives a cet heureux évennement <a href="http://">ici</a> ainsi qu'une liste d'hotel <a href="http://">là</a>.</p>
    <p>Confirmer votre présence via <a href="http://">ce</a> formulaire avant le 21 mars 2023.</p>
  </main>
  
</body>
</html>