<div class="container navbar-custom">
  <header class="d-flex flex-wrap justify-content-center py-3 mb-4 border-bottom ">
    <a href="/" class="d-flex align-items-center mb-3 mb-md-0 me-md-auto text-dark text-decoration-none">
      <img class="bi me-2" width="40" height="40" src="/diamond.png">
      <span class="fs-4">On se marie!!!</span>
    </a>

    <ul class="nav nav-pills">
      <li class="nav-item"><a href="/" class="nav-link active black" aria-current="page">Acceuil</a></li>
      <li class="nav-item"><a href="/hotels" class="nav-link">Hotels</a></li>
      <li class="nav-item"><a href="/register" class="nav-link">Je viens!!</a></li>
      <li class="nav-item"><a href="/infos" class="nav-link">Informations pratiques</a></li>
      <li class="nav-item"><a href="/guests" class="nav-link">Qui vient?</a></li>
      <li class="nav-item"><a href="/about" class="nav-link">A propos de ce projet</a></li>
    </ul>
  </header>
</div>