<!DOCTYPE html>
<html lang="fr">
<head>
  <%- include("../parts/head")%>
  <title>Page introuvable</title>
</head>
<body>
  <header><%- include("../parts/nav") %></header>
  <main>
    <div class="px-4 py-5 my-5 text-center">
      <img class="d-block mx-auto mb-4" src="/docs/5.2/assets/brand/bootstrap-logo.svg" alt="" width="72" height="57">
      <h1 class="display-5 fw-bold">404 page introuvable</h1>
      <div class="col-lg-6 mx-auto">
        <p class="lead mb-4">La page que vous avez demandé n'existe pas. Veuillez entrer une adresse valide.</p>
      </div>
    </div>
  </main>
  <footer><%- include("../parts/footer") %></footer>
</body>
</html>