<!DOCTYPE html>
<html lang="fr">

<head>
  <%- include("../parts/head") %>
    <title>On se marie!!!</title>
</head>

<body>
  <header>
    <%- include("../parts/nav") %>
  </header>
  <main>
    <div class="container px-4 py-5" id="featured-3">
      <h2 class="pb-2 border-bottom">Tout ce que vous devez savoir</h2>
      <div class="row g-4 py-5 row-cols-1 row-cols-lg-3">

        <div class="feature col">
          <div
            class="feature-icon d-inline-flex align-items-center justify-content-center  bg-gradient text-dark fs-1 mb-3">
            <i class="fa-solid fa-landmark"></i>
          </div>
          <h2>Mairie</h2>
          <p>Rendez-vous pour le mariage civil à la mairie d'Ammerschwihr à 14h.</p>
        </div>

        <div class="feature col">
          <div
            class="feature-icon d-inline-flex align-items-center justify-content-center bg-gradient text-dark fs-1 mb-3">
            <i class="fa-solid fa-church"></i>
          </div>
          <h2>Cérémonie</h2>
          <p>La cérémonie se déroulera à l'église de Kaysersberg à 15h.</p>
        </div>

        <div class="feature col">
          <div
            class="feature-icon d-inline-flex align-items-center justify-content-center bg-gradient text-dark fs-1 mb-3">
            <i class="fa-solid fa-champagne-glasses"></i>
          </div>
          <h2>Repas</h2>
          <p>Le vin d'honneur suivi du repas seront pris à l'issue de la cérémonie à la salle des fêtes de Kaysersberg.
          </p>
        </div>
      </div>
    </div>
  </main>
  <footer>
    <%- include("../parts/footer") %>
  </footer>
</body>

</html>